<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>FB OAuth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class='container' style="display:flex;margin-top:20px" >

        <p style="margin-right:10px">Login or Register with:</p>

        <a href="/login" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

</div>
</body>
</html>  